# MENMA-MD CONFIGURATION

# ID de session obtenu via la commande !qr ou !pair
SESSION_ID=Menma_md_

# Numéro du propriétaire (ex: 224XXXXXXXXX)
NUMERO_OWNER=2246XXXXXXX

# Lecture automatique des statuts (oui/non)
LECTURE_AUTO_STATUS=non

# Nom du bot
NOM_BOT=𝙼𝙴𝙽𝙼𝙰-𝙼𝙳

# Préfixe des commandes (null pour aucun, ou !, ., etc.)
PREFIX=.

# Mode du bot (public/private)
MODE=private

# Fuseau horaire
ZONE_DE_TEMPS=Africa/Conakry

# URL de la base de données (PostgreSQL ou SQLite par défaut)
# Exemple: postgres://user:password@localhost:5432/menma
DATABASE_URL=

# Configuration des Stickers
STICKER_PACKNAME=Menma-MD
STICKER_AUTHOR=Dr-Djibi

# --- Auto Like Status ---
AUTO_LIKE_STATUS=oui
LIKE_STATUS_EMOJIS=💚,❤️,✨,🔥,🙌
